/* ==============================
 * MASTHEAD
================================= */

.masthead {
  margin: 0 0 ($pulse * 3);
  padding: 0 0 0 0;
  border-bottom: 1px solid $gray-4;

  h1 {
    color: $black;

  }

  p {
    color: $gray-1;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .search {
    align-self: stretch;

    @include tablet {
      align-self: center;
      width: 80%
    }

    @include desktop {
      margin: 0 auto;
      width: 60%
    }
  }
}

.masthead__profile {
  display: flex;
  align-items: center;
}

.masthead__avatar {
    padding: 0 2rem 0 0;
  }

.masthead--index {
  border-bottom: none;
  padding: 0 0 ($pulse * 3);

  h1 {
    color: $white;
  }
}
