/* =============================
 * BASE
 =============================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Rubik', helvetica, arial, sans-serif;
  font-size: 62.5%;
  /* 10px /16px*/
  background-color: #fff;
  line-height: 1.6; }

body {
  color: #72797e;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh; }

/* ==============================
* GLOBAL
 ================================ */
.content-wrapper {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2em; }

.bare-list {
  list-style-type: none;
  padding: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* ==============================
 * TYPOGRAPHY
 ================================ */
a, p, ul, ol, span, label {
  font-size: 1.5rem;
  /* 15px/10px */
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6
.alpha, .beta, .gamma, .delta, .gamma, .epsilon, .zeta {
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  padding: 0; }

h1, .alpha {
  font-size: 3.6rem;
  /* 36px/10px */
  line-height: 1.2;
  color: #192127; }
  @media screen and (min-width: 600px) {
    h1, .alpha {
      font-size: 4rem;
      /* 40px/10px */ } }
  @media screen and (min-width: 800px) {
    h1, .alpha {
      font-size: 4.8rem;
      /* 48px/10px */ } }

h2, .beta {
  font-size: 2.8rem;
  /* 36px/10px */
  line-height: 1.2;
  color: #192127; }
  @media screen and (min-width: 600px) {
    h2, .beta {
      font-size: 3.2rem;
      /* 36px/10px */ } }
  @media screen and (min-width: 800px) {
    h2, .beta {
      font-size: 3.6rem;
      /* 36px/10px */ } }

h3, .gamma {
  font-size: 2.4rem;
  /* 28px/10px */
  line-height: 1.2;
  color: #192127; }
  @media screen and (min-width: 600px) {
    h3, .gamma {
      font-size: 2.8rem;
      /* 28px/10px */ } }

h4, .delta {
  font-size: 1.3rem;
  /* 13px/10px */
  line-height: 1.5;
  color: #72797e;
  text-transform: uppercase; }

h5, .epsilon {
  font-size: 1.4rem;
  /* 14px/10px */
  line-height: 1.4;
  color: #72797e; }

h6, .zeta {
  font-size: 1.2rem;
  /* 12px/10px */
  font-weight: normal;
  line-height: 1.4;
  color: #72797e; }

a {
  text-decoration: none;
  color: #2c9cf2; }
  a:hover, a:focus {
    color: #192127; }

/* ==============================
 * BUTTONS
================================= */
.btn {
  font-size: 1.3rem;
  line-height: 1;
  background: #fff;
  color: #192127;
  padding: 1.2rem 1.2rem;
  margin: 0;
  border: 1px solid #e3e5e9;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
    background-color: #e3e5e9;
    color: #2c9cf2; }

.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #72797e; }
  .btn--icon .icon {
    fill: currentColor; }

.btn--cta {
  background-color: #2c9cf2;
  color: #fff;
  border: 1px solid #2c9cf2; }
  .btn--cta:hover, .btn--cta:active, .btn--cta:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0b67ad;
    border-color: #0c75c5; }

.btn--warning:hover, .btn--warning:active, .btn--warning:focus {
  color: #fff;
  text-decoration: none;
  background-color: #e25d43;
  border-color: #e25d43; }

.btn--tag {
  background-color: #e3e5e9;
  color: #72797e;
  border: 1px solid #e3e5e9; }
  .btn--tag:hover, .btn--tag:active, .btn--tag:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2c9cf2;
    border-color: #2c9cf2; }

.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .btn--icon .icon {
    fill: currentColor; }

/* ==============================
 * ICONS
================================= */
.icon {
  padding-right: 0.3em;
  fill: #bbc1c6; }
  .btn:hover .icon,
  .btn:active .icon,
  .btn:focus .icon {
    fill: currentColor; }
  .icon--liked {
    fill: #e25d43; }

/* ==============================
 * LOGO
================================= */
.logo span {
  font-size: 1.8rem;
  font-weight: bold;
  color: #192127;
  white-space: nowrap; }

.logo em {
  font-style: normal;
  color: #2c9cf2; }

.logo--invert span {
  color: #fff; }

.avatar {
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem; }

.avatar-small {
  width: 3.2rem;
  height: 3.2rem; }

/* ===============
* FORM elements
==================  */
.input {
  font-size: 1.5rem;
  margin: 0 0 3rem 0;
  color: #192127;
  width: 100%; }
  .input__label {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    margin: 0 1.6rem 1rem 0; }
    @media screen and (min-width: 600px) {
      .input__label {
        margin-bottom: 0; } }
  .input__field {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0 0.3rem 2rem #e3e5e9;
    box-shadow: 0 0.3rem 2rem #e3e5e9;
    color: #72797e;
    display: block;
    padding: 1em;
    font-size: inherit;
    width: 100%; }
    .input__field--warning {
      border: 1px solid #e25d43; }

.input--textarea textarea {
  resize: none;
  font-size: inherit;
  font-family: inherit;
  height: 10rem; }

.input--file {
  width: 100%; }
  .input--file input[type=file] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  .input--file .btn {
    padding: 1.6em;
    display: block;
    text-align: center;
    width: 100%; }

@media screen and (min-width: 600px) {
  .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; } }

.input .checkbox-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .input .checkbox-main input {
    width: auto;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0; }
  .input .checkbox-main label {
    margin-left: 0.5rem; }

/* ==============================
 * CARDS
================================= */
.cards {
  margin: 3rem -2rem 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .cards::after {
    display: table;
    content: " ";
    clear: both; }
  @media screen and (min-width: 600px) {
    .cards .card {
      float: left;
      width: calc(50% - (1.6rem * 1.5)); } }
  @media screen and (min-width: 800px) {
    .cards .card {
      width: calc(33.33% - (1.6rem * 1.5)); } }

.card {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  margin: 0 2.4rem 1.6rem 0;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .card__thumb {
    color: #e3e5e9;
    font-size: 1.3rem;
    position: relative;
    display: block; }
    .card__thumb img {
      width: 100%;
      display: block;
      margin: 0 0 -1px 0; }
    .card__thumb h3 {
      color: #fff;
      font-size: 2rem; }
  .card__intro {
    padding: 1.2em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .card__title {
    font-size: 1.6em; }
  .card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #bbc1c6; }
    .card__footer .btn {
      border: none;
      border-radius: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 1.6em; }
    .card__footer .btn--like {
      border-right: 1px solid #bbc1c6;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      text-align: left; }

/* ==============================
 * SEARCH FORM
================================= */
.search {
  font-size: 1.5rem;
  color: #72797e; }
  .search__label {
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0.5em; }
  .search__field {
    background-color: #fff;
    border: 1px solid #e3e5e9;
    padding-left: 1rem;
    font-size: inherit;
    margin: 0; }
    @media screen and (min-width: 600px) {
      .search__field {
        padding-left: 1em; } }
    .search__field:focus {
      border-color: #72797e; }
  .search__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .search__row .btn {
      border-left-width: 0;
      border-radius: 0;
      padding: 1.6em; }
  .search__row .search__field {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 10em;
    flex: 1 0 10em; }

.search--cta .search__field {
  border-color: #2c9cf2; }
  .search--cta .search__field:focus {
    border-color: #0c75c5; }

/* ==============================
 * NAVIGATION
================================= */
/* Global Header Navigation */
.global-nav {
  float: right;
  margin-left: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .global-nav > li {
    float: left;
    list-style-type: none;
    margin: 0 0 0 1.6rem;
    padding: 1.6rem 0; }
  .global-nav a {
    color: #192127; }
    .global-nav a:hover, .global-nav a:focus {
      color: #2c9cf2; }

/* Masthead Navigation */
.masthead__nav {
  margin: 2rem 0 0 0;
  padding: 0;
  -ms-flex-item-align: start;
  align-self: flex-start; }
  @media screen and (min-width: 600px) {
    .masthead__nav {
      float: left; } }
  @media screen and (min-width: 600px) {
    .masthead__nav li {
      display: inline-block;
      padding: 0; } }
  .masthead__nav a {
    margin: 2rem 1.6rem -1px 0; }
    @media screen and (min-width: 600px) {
      .masthead__nav a {
        display: block;
        margin: 0 1.6rem -1px 0;
        padding: 0 0.5rem 2.5rem; } }
    .masthead__nav a:hover, .masthead__nav a:focus {
      border-bottom: 1px solid #192127; }
  .masthead__nav .current a {
    color: #192127;
    border-bottom: 1px solid #192127; }

/* Footer Navigation */
.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }
  .nav-footer .logo {
    padding: 1.6rem 1.6rem 1.6rem 0; }
  .nav-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1.6rem 0 0; }
  .nav-footer li {
    padding: 0 1.6rem 0 0;
    white-space: nowrap; }
  .nav-footer a {
    color: #bbc1c6; }
    .nav-footer a:hover, .nav-footer a:focus {
      color: #2c9cf2; }

/* ==============================
 * DROPDOWN MENU
================================= */
.dropdown-menu {
  display: none;
  background: #fff;
  border-radius: 3px;
  color: #2c9cf2;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  white-space: nowrap; }
  .dropdown-menu > li {
    padding: 0;
    border-bottom: 1px solid #e3e5e9; }
  .dropdown-menu a {
    color: #2c9cf2;
    display: block;
    padding: 0.5rem 7rem 0.5rem 1em; }
  .dropdown-menu a:hover,
  .dropdown-menu a:focus {
    display: block;
    text-decoration: underline;
    background-color: #e3e5e9; }

.has-dropdown {
  position: relative; }
  .has-dropdown a {
    display: block; }

.has-dropdown a:hover + .dropdown-menu,
.has-dropdown a:focus + .dropdown-menu,
.dropdown-menu:hover, .dropdown-menu:focus {
  display: block; }

/* ==================
* GOAL ELEMENTS
===================== */
/* OWNER */
.goal__owner {
  vertical-align: middle; }
  .goal__owner::after {
    display: table;
    content: " ";
    clear: both; }
  .goal__owner > * {
    float: left; }
  .goal__owner .avatar {
    margin: 0 1rem 0 0; }
  .goal__owner a {
    color: #192127; }
  .goal__owner a:hover, .goal__owner a:focus {
    color: #2c9cf2; }

/* BUTTONS */
.goal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 -1.6rem 0 0; }
  .goal__btn::after {
    display: table;
    content: " ";
    clear: both; }
  .goal__btn .btn {
    float: left;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 1.6rem 1.6rem 0;
    min-width: 11.2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

/* STATS */
.goal__stats {
  margin: 0 0 0 -1rem; }
  .goal__stats::after {
    display: table;
    content: " ";
    clear: both; }
  .goal__stats > div {
    border-right: 1px solid #bbc1c6;
    color: #bbc1c6;
    float: left;
    padding: 0 1rem;
    white-space: nowrap; }
  .goal__stats > div:last-child {
    border: none; }

/* TAGS */
.goal__tags::after {
  display: table;
  content: " ";
  clear: both; }

.goal__tags .btn--tag {
  float: left;
  margin: 0 1.6rem 1.6rem 0; }

/* ==================
* DISCUSSION ELEMENTS
===================== */
.comments {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 4rem 0;
  width: 100%; }
  @media screen and (min-width: 800px) {
    .comments {
      width: 70rem; } }

.comments__avatar {
  padding: 0 2rem 0 0; }

.comments__text {
  width: 100%; }
  .comments__text .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .comments__text .input > * {
      margin-bottom: 1.6rem; }
    @media screen and (min-width: 600px) {
      .comments__text .input_field {
        width: 100%; } }

.comments__title span {
  color: #bbc1c6; }

.comments--add .comments__avatar {
  padding-top: 4rem; }

.comments__user {
  margin: 0 0 1.6rem 0; }
  .comments__user .user__name a {
    color: #192127; }
  .comments__user .user__name a:hover, .comments__user .user__name a:focus {
    color: #2c9cf2; }
  .comments__user .comments__time {
    color: #bbc1c6; }

.follower {
  border-bottom: 1px solid #e3e5e9;
  color: #bbc1c6;
  padding: 1.6rem 0; }
  .follower::after {
    display: table;
    content: " ";
    clear: both; }
  .follower__profile {
    float: left; }
    .follower__profile::after {
      display: table;
      content: " ";
      clear: both; }
  .follower__avatar {
    float: left;
    padding: 0 1.6rem 0 0; }
  .follower__info {
    float: right; }
    .follower__info > * {
      display: block; }
  .follower__btn {
    float: right; }
    .follower__btn .btn {
      display: block;
      padding: 1.6rem 1.2rem;
      text-align: center;
      vertical-align: middle;
      width: 13rem; }
      @media screen and (min-width: 600px) {
        .follower__btn .btn {
          width: 17rem; } }

/* ==============================
 * HEADER
================================= */
.banner {
  color: #192127;
  padding: 0;
  margin: 0; }

.global-header {
  margin: 0 0 4.8rem 0;
  border-bottom: 1px solid #e3e5e9;
  padding: 0; }
  .global-header .logo {
    float: left;
    margin: 1rem 1.6rem 1rem 0; }
  .global-header .search {
    float: left;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 0 -1px 0; }
    @media screen and (min-width: 700px) {
      .global-header .search {
        margin-right: 1.6rem; } }
  .global-header .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .global-header .content-wrapper::after {
      content: '';
      display: table;
      clear: both; }

/* ==============================
 * MASTHEAD
================================= */
.masthead {
  margin: 0 0 4.8rem;
  padding: 0 0 0 0;
  border-bottom: 1px solid #e3e5e9; }
  .masthead h1 {
    color: #192127; }
  .masthead p {
    color: #72797e; }
  .masthead .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .masthead .content-wrapper::after {
      content: '';
      display: table;
      clear: both; }
  .masthead .search {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch; }
    @media screen and (min-width: 600px) {
      .masthead .search {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        width: 80%; } }
    @media screen and (min-width: 800px) {
      .masthead .search {
        margin: 0 auto;
        width: 60%; } }

.masthead__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.masthead__avatar {
  padding: 0 2rem 0 0; }

.masthead--index {
  border-bottom: none;
  padding: 0 0 4.8rem; }
  .masthead--index h1 {
    color: #fff; }

.goal > * {
  margin-bottom: 1.6rem; }

.goal__btn, .goal__tags {
  margin-right: -1.6rem; }

@media screen and (min-width: 800px) {
  .goal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3.2rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.2rem;
    grid-row-gap: 1.6rem;
    -ms-grid-rows: auto 1.6rem auto 1.6rem auto 1.6rem auto 1.6rem auto 1.6rem auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img owner" "img title" "img btn" "img description" "img stats" "img tags"; }
    .goal > * {
      margin-bottom: 0; } }

.goal__img img {
  width: 100%; }

@media screen and (min-width: 800px) {
  .goal__img {
    grid-area: img; } }

@media screen and (min-width: 800px) {
  .goal__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 11;
    -ms-grid-column: 1; } }

/* ==============================
 * MAIN
================================= */
main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw; }
  @media screen and (min-width: 600px) {
    .main--index h2 {
      text-align: center; } }
  .main .content-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }

/* MAIN HEADER */
.main__header {
  margin: 0 0 4.8rem 0;
  border-bottom: 1px solid #e3e5e9;
  width: 100vw; }
  .main__header p {
    margin: 1.6rem 0; }
  .main__header ol {
    padding: 1.6rem;
    color: #2c9cf2;
    margin: 1.6rem 0 4.8rem; }

/* MAIN CONTENT */
.main__content {
  width: 100vw; }

.main__element {
  padding: 3.2rem 0 1.6rem 0; }
  .main__element h2 {
    margin: 0 0 3.2rem 0; }

.discussion h2 {
  margin: 0; }

.followers > div:last-child {
  border: none; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__text {
    color: #bbc1c6; }
    @media screen and (min-width: 600px) {
      .form__text {
        -ms-flex-item-align: end;
        align-self: flex-end;
        width: 76%; } }
    @media screen and (min-width: 800px) {
      .form__text {
        width: 64%; } }
  .form > div:nth-child(2) {
    margin-top: 5.6rem; }
  .form .alert {
    color: #e25d43;
    padding: 1.6rem 0;
    display: none; }
  @media screen and (min-width: 800px) {
    .form {
      width: 60%; } }
  @media screen and (min-width: 600px) {
    .form .input__field, .form .input--file {
      width: 76%; } }
  @media screen and (min-width: 800px) {
    .form .input__field, .form .input--file {
      width: 64%; } }

.input__description {
  margin: -3rem 0 1.6rem 0; }

.input--horizontal .prompt {
  width: 100%; }
  @media screen and (min-width: 600px) {
    .input--horizontal .prompt {
      width: 76%; } }
  @media screen and (min-width: 800px) {
    .input--horizontal .prompt {
      width: 64%; } }
  .input--horizontal .prompt .btn {
    width: 100%; }

.input--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .input--checkbox .input__label {
    margin: 0; }

@media screen and (min-width: 600px) {
  .input__btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.form--warning > div:nth-child(2) {
  margin-top: 0; }

.form--warning .alert {
  display: block; }

.input__btn--alone .btn {
  width: 100%; }

/* ==============================
 * FOOTER
================================= */
.global-footer {
  background: #192127;
  padding: 4.8rem 0 4.8rem; }
  .global-footer .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .global-footer .content-wrapper p {
      margin: 0;
      display: block;
      padding: 1.6rem 0; }

/* INDEX STYLES */
.banner--index {
  background: #afbac4 url("../images/mountain-lake.jpg") no-repeat 50% 50%/cover;
  color: #fff;
  padding: 0 0 4.8rem 0;
  margin: 0 0 4.8rem 0; }
  .banner--index a {
    color: #e3e5e9; }

@media screen and (min-width: 600px) {
  .masthead--index {
    text-align: center; } }

/* MAIN See more */
.see-more {
  border-top: 1px solid #e3e5e9;
  text-align: center;
  padding: 1.2em 0;
  width: 100%; }
  .see-more a {
    color: #192127; }

/* =================
* STYLE GUIDE STYLE 
==================== */
/* === General === */
.style-elmnt {
  margin: 0 0 4.8rem 0; }
  .style-elmnt h3 {
    margin: 0 0 1.6rem 0; }

/* === ATOMS === */
/* 01. LOGO */
.atom-logo .logo {
  width: 16rem;
  height: 6rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.atom-logo--homepage .logo {
  background: #afbac4 url("../images/index-mountain-lake-sample.jpg") no-repeat 50% 50%/cover; }

.atom-logo--basic .logo {
  border: 1px solid #afbac4; }

.atom-logo--invert .logo {
  background: #192127; }

/* 03. PALETTE */
.atom-palette::after {
  content: '';
  display: table;
  clear: both; }

.palette {
  float: left;
  margin: 0 2rem 2rem 0; }

/* 04. TYPOGRAPHY */
.table th {
  text-align: left; }

.font__table td {
  color: #192127;
  padding: 0 2rem 0 0; }

.font__table .glyph {
  font-size: 12rem;
  line-height: 1;
  text-align: left; }

.styles__table {
  border-collapse: collapse;
  width: 100%; }
  .styles__table th .delta {
    font-weight: bold; }
  .styles__table td {
    height: 7rem;
    overflow: hidden; }
  .styles__table th, .styles__table td {
    padding: 0 0.6rem 0 0;
    border-bottom: solid 1px #e3e5e9; }
    .styles__table th *, .styles__table td * {
      margin: 0;
      padding: 0; }
  .styles__table tr th:last-child, .styles__table tr td:last-child {
    padding-right: 0; }

.style-btn {
  font-size: 1.3rem;
  line-height: 1;
  color: #192127;
  text-transform: uppercase; }

/* 05. LINKS */
.atom-links {
  display: block;
  float: none;
  margin: 0 0 3.2rem 0; }
  .atom-links * {
    display: block; }
